<app-user></app-user>
<div class="card my-5">
  <div *ngIf="empty; else coursesList">
    <h3 class="font-weight-bold text-center">
      You have not enrolled any courses
    </h3>
  </div>

  <ng-template #coursesList>
    <form>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-lg-offset-4">
          <input
            type="text"
            [(ngModel)]="searchValue"
            class="form-control"
            placeholder="Search"
            id="listSearch"
            style="width: 10"
            ngDefaultControl
            name="searchValue"
          />
        </div>
      </div>
    </form>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course Name</th>
          <th scope="col">Description</th>
          <th scope="col">Remarks</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let courseReg of courseRegistration
              | searchfilter: searchValue
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: page,
                    totalItems: totalLength
                  };
            index as i
          "
        >
          <td>{{ (page - 1) * 5 + (i + 1) }}</td>
          <div
            *ngIf="
              courseReg.status == 'Accepted';
              then thenBlock;
              else elseBlock
            "
          ></div>
          <ng-template #thenBlock
            ><td>
              <a href="{{ courseReg.course.link }}" target="_blank">{{
                courseReg.course.courseName
              }}</a>
            </td></ng-template
          >
          <ng-template #elseBlock
            ><td>{{ courseReg.course.courseName }}</td></ng-template
          >

          <td>{{ courseReg.course.description }}</td>
          <td>{{ courseReg.remarks }}</td>
          <td>
            <div
              *ngIf="
                courseReg.completionStatus == 'Not Completed' &&
                  courseReg.status == 'Accepted';
                then thenb;
                else elseb
              "
            ></div>

            <ng-template #thenb>
              <form>
                <div class="checkbox">
                  <input
                    type="checkbox"
                    value=""
                    (change)="changeStatus(courseReg)"
                  /><label>Completed</label>
                </div>
              </form>
            </ng-template>

            <ng-template #elseb>{{ courseReg.completionStatus }}</ng-template>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <pagination-controls
              (pageChange)="page = $event"
            ></pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </ng-template>
</div>
