<app-admin></app-admin>

<div class="card my-5">
  <form>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-lg-offset-4">
        <input
          type="text"
          [(ngModel)]="searchValue"
          class="form-control"
          placeholder="Search"
          id="listSearch"
          style="width: 10"
          ngDefaultControl
          [(ngModel)]="searchValue"
          name="email"
        />
      </div>
    </div>
  </form>
  <br />
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let course of courses
            | searchCourse: searchValue
            | paginate: { itemsPerPage: 5, currentPage: page };
          index as i
        "
      >
        <td>{{ (page - 1) * 5 + (i + 1) }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.description }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="editCourse(course)">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteCourse(course)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
