<div class="back">
  <app-admin></app-admin>
  <div class="div-center">
    <div class="content">
      <h3 class="font-weight-bold , text-center">Edit COURSE</h3>
      <form [formGroup]="editCourseForm" (ngSubmit)="editCourse()">
        <div class="form-group">
          <label> Course ID:</label>
          <input
            class="form-control"
            type="text"
            formControlName="courseId"
            readonly
          />
        </div>
        <div class="form-group">
          <label> Course Name:</label>
          <input
            class="form-control"
            type="text"
            formControlName="courseName"
          />
          <div
            *ngIf="
              editCourseForm.get('courseName').invalid &&
              editCourseForm.get('courseName').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editCourseForm.get('courseName').errors?.required"
              >Course Name is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Description:</label>
          <input
            class="form-control"
            type="text"
            formControlName="description"
          />
          <div
            *ngIf="
              editCourseForm.get('description').invalid &&
              editCourseForm.get('description').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editCourseForm.get('description').errors?.required"
              >Description is required</small
            >
          </div>
        </div>
        <div class="form-group">
          <label> Link:</label>
          <input class="form-control" type="text" formControlName="link" />
          <div
            *ngIf="
              editCourseForm.get('description').invalid &&
              editCourseForm.get('description').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="editCourseForm.get('description').errors?.required"
              >Description is required</small
            >
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="editCourseForm.invalid"
          >
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
