<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/saveCourse">Add Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/allcourses">Courses</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <div class="navbar-brand">ADMIN</div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".dual-collapse2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/courseRequests">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coursesInfo">Assigned Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlogin" (click)="logOut()"
          >LogOut</a
        >
      </li>
    </ul>
  </div>
</nav>
