<div class="back">
  <div class="div-center">
    <div class="content">
      <h3 class="font-weight-bold , text-center">Registration Form</h3>
      <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">
        <div class="form-group">
          <label> First Name: </label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            required
          />
          <div
            *ngIf="
              userRegistrationForm.controls['firstName'].invalid &&
              userRegistrationForm.controls['firstName'].touched
            "
            class="text-danger"
          >
            <small>*FirstName is required</small>
          </div>
        </div>

        <div class="form-group">
          <label> Last Name: </label>
          <input class="form-control" type="text" formControlName="lastName" />
          <div
            *ngIf="
              userRegistrationForm.controls['lastName'].invalid &&
              userRegistrationForm.controls['lastName'].touched
            "
            class="text-danger"
          >
            <small>*LastName is required</small>
          </div>
        </div>
        <div class="form-group">
          <label> Phone Number:</label>
          <input
            class="form-control"
            type="text"
            formControlName="phoneNumber"
          />
          <div
            *ngIf="
              userRegistrationForm.get('phoneNumber').invalid &&
              userRegistrationForm.get('phoneNumber').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="userRegistrationForm.get('phoneNumber').errors?.required"
              >Phone Number is required</small
            >
            <small
              class="text-danger"
              *ngIf="
                userRegistrationForm.get('phoneNumber').errors?.pattern ||
                userRegistrationForm.get('phoneNumber').errors?.maxlength ||
                userRegistrationForm.get('phoneNumber').errors?.minlength
              "
              >Invalid Phone Number
            </small>
          </div>
        </div>

        <div class="form-group">
          <label> Email ID:</label>
          <input class="form-control" type="text" formControlName="emailId" />
          <div
            *ngIf="
              (userRegistrationForm.get('emailId').invalid &&
                userRegistrationForm.get('emailId').touched) ||
              userRegistrationForm.get('emailId').dirty
            "
          >
            <small
              class="text-danger"
              *ngIf="userRegistrationForm.get('emailId').errors?.required"
              >Email address is required</small
            >
            <small
              class="text-danger"
              *ngIf="userRegistrationForm.get('emailId').errors?.email"
              >Email address is invalid</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Password:</label>
          <input class="form-control" type="text" formControlName="password" />
          <div
            *ngIf="
              userRegistrationForm.get('password').invalid &&
              userRegistrationForm.get('password').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="userRegistrationForm.get('password').errors?.required"
              >Password is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Confirm Password:</label>
          <input
            type="text"
            class="form-control"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              userRegistrationForm.get('confirmPassword').invalid &&
              userRegistrationForm.get('confirmPassword').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="
                userRegistrationForm.get('confirmPassword').errors?.required
              "
              >Confirm Password is required</small
            >
          </div>
          <small class="text-danger">{{ message }}</small>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="userRegistrationForm.invalid"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
