<div class="back">
  <app-admin></app-admin>
  <div class="div-center">
    <div class="content">
      <h3 class="font-weight-bold , text-center">ADD NEW COURSE</h3>
      <form [formGroup]="saveCourseForm" (ngSubmit)="saveCourse()">
        <div class="form-group">
          <label> Course Name:</label>
          <input
            class="form-control"
            type="text"
            formControlName="courseName"
          />
          <div
            *ngIf="
              saveCourseForm.get('courseName').invalid &&
              saveCourseForm.get('courseName').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="saveCourseForm.get('courseName').errors?.required"
              >Course Name is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Description:</label>
          <input
            class="form-control"
            type="text"
            formControlName="description"
          />
          <div
            *ngIf="
              saveCourseForm.get('description').invalid &&
              saveCourseForm.get('description').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="saveCourseForm.get('description').errors?.required"
              >Description is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label> Course Link:</label>
          <input class="form-control" type="text" formControlName="link" />
          <div
            *ngIf="
              saveCourseForm.get('link').invalid &&
              saveCourseForm.get('link').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="saveCourseForm.get('link').errors?.required"
              >Course Link is required</small
            >
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-secondary"
            [disabled]="saveCourseForm.invalid"
          >
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
