<app-admin></app-admin>

<div class="card my-5">
  <div class="container">
    <!-- <div class="form-control row">
        <label
          for="search"
          class="col-sm-2 col-form-label"
          style="text-align: right"
          >Search</label
        >
        <div class="col-xs-2">
          <input type="text" class="form-control" id="search" />
        </div>
      </div> -->
    <div class="container">
      <form>
        <div class="form-group row">
          <div class="col-md-10">
            <input
              type="text"
              [(ngModel)]="searchValue"
              class="form-control"
              placeholder="Search"
              id="listSearch"
              style="width: 10"
              ngDefaultControl
              [(ngModel)]="searchValue"
              name="email"
            />
          </div>

          <button
            type="submit"
            class="btn btn-secondary btn-md float-right"
            data-toggle="modal"
            data-target="#myModal"
          >
            Assign
          </button>
        </div>
      </form>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Assigned Course</th>
        <th scope="col">Assigned Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let course_user of assignedCourses
            | searchfilter: searchValue
            | paginate
              : {
                  itemsPerPage: 5,
                  currentPage: page,
                  totalItems: totalLength
                };
          index as i
        "
      >
        <td>{{ (page - 1) * 5 + (i + 1) }}</td>
        <td>{{ course_user.user.firstName }}</td>
        <td>{{ course_user.course.courseName }}</td>
        <td>{{ course_user.assignedDate | date }}</td>
        <td>{{ course_user.completionStatus }}</td>

        <td>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteAssignedCourse(course_user)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="container">
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold float-right">
            Assign Course
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="AssignCourseForm" (ngSubmit)="assignCourse()">
            <div class="form-group">
              <label> Course Name:</label>
              <input
                class="form-control"
                type="text"
                formControlName="courseName"
              />
              <div
                *ngIf="
                  AssignCourseForm.get('courseName').invalid &&
                  AssignCourseForm.get('courseName').touched
                "
              >
                <small
                  class="text-danger"
                  *ngIf="AssignCourseForm.get('courseName').errors?.required"
                  >*Course Name is required</small
                >
              </div>
            </div>
            <div class="form-group">
              <label> User Name: </label>
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                required
              />
              <div
                *ngIf="
                  AssignCourseForm.controls['firstName'].invalid &&
                  AssignCourseForm.controls['firstName'].touched
                "
                class="text-danger"
              >
                <small>*UserName is required</small>
              </div>
            </div>
            <div class="form-group">
              <label> Remarks: </label>
              <input
                type="text"
                class="form-control"
                formControlName="remarks"
              />
            </div>
            <div class="text-center float-center">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="AssignCourseForm.invalid"
              >
                Assign
              </button>
            </div>
            <div class="text-center">
              {{ message }}
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
